div {
  width: 800px;
  padding-left: 30px;
  padding-right: 30px;
}

table {
  width: inherit;
  border-collapse:collapse;
  line-height: 25px;
}

.table_head {
  border-bottom: 1px solid rgb(65, 63, 63);
  color: rgb(160, 158, 158);

}

th:nth-child(1) {
  width: 100px;
}

th:nth-child(2) {
  width: 490px;
}

th:not(:nth-child(3)) {
  text-align: left;
  font-family: SF Pro Text;
  line-height: 25px;
  /* color: rgb(160, 158, 158); */
}

th:nth-child(3){
  text-align: end;
  font-family: SF Pro Text;
  line-height: 25px;
}

td:nth-child(3) {
  text-align: end;

}

.table_status-sended {
 color:  #03A100;
}
.table_status-queue {
  color: rgb(160, 158, 158);
  ;
 }
 .table_status-error {
  color:  #FF6666;
 }

 tr {
  height: 30px;
 }