.fileList {
  width: 790px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 0px;
}

.fileList_item {
  display: flex;
  align-items: center;
  height: 50px;
  width: 390px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 9px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 5px;
}

.fileList_item svg {
  margin-right: 10px;
}
